
<!--	---------------------------------------------------------------- 
  --	alfabeto.njk - Nunjucks include - Spanisch alfabet
  --	---------------------------------------------------------------- 
  -->
  
<style>
article>button,article>span>button {
	display:inline-block;
	padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;
	text-align:center;cursor:progress;white-space:nowrap;
	background-color:#616161;color:#FFF;
	width:3em;
	font-weight: bold;
}
article>button:hover {
	background-color:#9e9e9e;color:#FFF;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

</style>

<h1 class="w3-center w3-indigo">El abecedario español</h1>
<div class="w3-row">
	<div class="w3-col l6 m6 w3-padding-largex">
		<article class="w3-section">
			<h4>Escucha el abecedario</h4>
			<audio controls>
				<source src="https://cms.babbel.news/wp-content/uploads/2020/10/Spanish-Alphabet-Fast.mp3" type="audio/mpeg">
				Your browser does not support the audio element.
			</audio> 
		</article>

		<article class="w3-section w3-margin-top">
			<h4>Letras individuales</h4>
			<button class="w3-tooltip" id='play-A'>A<span class="w3-hide">a</span></button>
			<button class="w3-tooltip" id='play-B'>B<span class="w3-hide">be</span></button>
			<button class="w3-tooltip" id='play-C'>C<span class="w3-hide">ce</span></button>
			<button class="w3-tooltip" id='play-D'>D<span class="w3-hide">de</span></button>
			<button class="w3-tooltip" id='play-E'>E<span class="w3-hide">e</span></button>
			<button class="w3-tooltip" id='play-F'>F<span class="w3-hide">efe</span></button>
			<button class="w3-tooltip" id='play-G'>G<span class="w3-hide">ge</span></button>
			<button class="w3-tooltip" id='play-H'>H<span class="w3-hide">hache</span></button>
			<button class="w3-tooltip" id='play-I'>I<span class="w3-hide">i</span></button>
			<button class="w3-tooltip" id='play-J'>J<span class="w3-hide">jota</span></button>
			<button class="w3-tooltip" id='play-K'>K<span class="w3-hide">ka</span></button>
			<button class="w3-tooltip" id='play-L'>L<span class="w3-hide">ele</span></button>
			<button class="w3-tooltip" id='play-M'>M<span class="w3-hide">eme</span></button>
			<button class="w3-tooltip" id='play-N'>N<span class="w3-hide">ene</span></button>
			<button class="w3-tooltip" id='play-NN'>Ñ<span class="w3-hide">eñe</span></button>
			<button class="w3-tooltip" id='play-O'>O<span class="w3-hide">o</span></button>
			<button class="w3-tooltip" id='play-P'>P<span class="w3-hide">pe</span></button>
			<button class="w3-tooltip" id='play-Q'>Q<span class="w3-hide">cu</span></button>
			<button class="w3-tooltip" id='play-R'>R<span class="w3-hide">erre</span></button>
			<button class="w3-tooltip" id='play-S'>S<span class="w3-hide">ese</span></button>
			<button class="w3-tooltip" id='play-T'>T<span class="w3-hide">te</span></button>
			<button class="w3-tooltip" id='play-U'>U<span class="w3-hide">u</span></button>
			<button class="w3-tooltip" id='play-V'>V<span class="w3-hide">uve</span></button>
			<button class="w3-tooltip" id='play-W'>W<span class="w3-hide">uve doble</span></button>
			<button class="w3-tooltip" id='play-X'>X<span class="w3-hide">equis</span></button>
			<button class="w3-tooltip" id='play-Y'>Y<span class="w3-hide">i griega</span></button>
			<button class="w3-tooltip" id='play-Z'>Z<span class="w3-hide">zeta</span></button>
			<p class="w3-text-grey">Pulse el botón para escuchar la pronunciación de una sola letra.</p>
		</article>
	</div>

	<div class="w3-col l6 m6 w3-padding-large">
		<img src={{ image('alfabeto-espaniol-2', 'png') }}  class="w3-round w3-image w3-opacity-min" alt="alfabeto" style="width:100%">
	</div>
</div>

<div>
	<audio id="letterA"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-1.mp3">no audio</audio>
	<audio id="letterB"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-2.mp3">no audio</audio>
	<audio id="letterC"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-3.mp3">no audio</audio>
	<audio id="letterD"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-4.mp3">no audio</audio>
	<audio id="letterE"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-5.mp3">no audio</audio>
	<audio id="letterF"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-6.mp3">no audio</audio>
	<audio id="letterG"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-7.mp3">no audio</audio>
	<audio id="letterH"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-8.mp3">no audio</audio>
	<audio id="letterI"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-9.mp3">no audio</audio>
	<audio id="letterJ"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-10.mp3">no audio</audio>
	<audio id="letterK"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-11.mp3">no audio</audio>
	<audio id="letterL"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-12.mp3">no audio</audio>
	<audio id="letterM"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-13.mp3">no audio</audio>
	<audio id="letterN"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-14.mp3">no audio</audio>
	<audio id="letterNN"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-15.mp3">no audio</audio>
	<audio id="letterO"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-16.mp3">no audio</audio>
	<audio id="letterP"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-17.mp3">no audio</audio>
	<audio id="letterQ"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-18.mp3">no audio</audio>
	<audio id="letterR"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-19.mp3">no audio</audio>
	<audio id="letterS"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-20.mp3">no audio</audio>
	<audio id="letterT"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-21.mp3">no audio</audio>
	<audio id="letterU"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-22.mp3">no audio</audio>
	<audio id="letterV"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-23.mp3">no audio</audio>
	<audio id="letterW"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-24.mp3">no audio</audio>
	<audio id="letterX"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-25.mp3">no audio</audio>
	<audio id="letterY"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-26.mp3">no audio</audio>
	<audio id="letterZ"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/SPA-27.mp3">no audio</audio>
</div>

	
<script>
  document.getElementById('play-A').addEventListener('click', function() { letterA.play(); }, false);
  document.getElementById('play-B').addEventListener('click', function() { letterB.play(); }, false);
  document.getElementById('play-C').addEventListener('click', function() { letterC.play(); }, false);
  document.getElementById('play-D').addEventListener('click', function() { letterD.play(); }, false);
  document.getElementById('play-E').addEventListener('click', function() { letterE.play(); }, false);
  document.getElementById('play-F').addEventListener('click', function() { letterF.play(); }, false);
  document.getElementById('play-G').addEventListener('click', function() { letterG.play(); }, false);
  document.getElementById('play-H').addEventListener('click', function() { letterH.play(); }, false);
  document.getElementById('play-I').addEventListener('click', function() { letterI.play(); }, false);
  document.getElementById('play-J').addEventListener('click', function() { letterJ.play(); }, false);
  document.getElementById('play-K').addEventListener('click', function() { letterK.play(); }, false);
  document.getElementById('play-L').addEventListener('click', function() { letterL.play(); }, false);
  document.getElementById('play-M').addEventListener('click', function() { letterM.play(); }, false);
  document.getElementById('play-N').addEventListener('click', function() { letterN.play(); }, false);
  document.getElementById('play-NN').addEventListener('click',function() { letterNN.play(); }, false);
  document.getElementById('play-O').addEventListener('click', function() { letterO.play(); }, false);
  document.getElementById('play-P').addEventListener('click', function() { letterP.play(); }, false);
  document.getElementById('play-Q').addEventListener('click', function() { letterQ.play(); }, false);
  document.getElementById('play-R').addEventListener('click', function() { letterR.play(); }, false);
  document.getElementById('play-S').addEventListener('click', function() { letterS.play(); }, false);
  document.getElementById('play-T').addEventListener('click', function() { letterT.play(); }, false);
  document.getElementById('play-U').addEventListener('click', function() { letterU.play(); }, false);
  document.getElementById('play-V').addEventListener('click', function() { letterV.play(); }, false);
  document.getElementById('play-W').addEventListener('click', function() { letterW.play(); }, false);
  document.getElementById('play-X').addEventListener('click', function() { letterX.play(); }, false);
  document.getElementById('play-Y').addEventListener('click', function() { letterY.play(); }, false);
  document.getElementById('play-Z').addEventListener('click', function() { letterZ.play(); }, false);
</script>
	

<!-- The reference section is only shown in the development environment -->
{% if site.env %}
<div class="w3-center w3-light-gray w3-opacity-max">
	<i>La salida de voz procede del sitio web de Babbel</i>
</div>
{% else %}
<div class="reference w3-panel w3-sand w3-sans-serif w3-text-indigo">
	<b class="w3-padding" style="vertical-align:middle;">References</b>
	<a class="w3-btn" href="https://www.babbel.com/en/magazine/pronounce-spanish", target="babbel">Babbel article</a>
	<audio id="babbelTest-1"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2020/10/Spanish-Alphabet-Fast.mp3">no audio</audio>
	<button class="w3-btn" onclick="babbelTest-1.play();false;">Babbel audio</button>
</div>
{% endif %}
