
<!--	----------------------------------------------------------------
  --	numeros.njk - Nunjucks include - Spanish numbers
  --	----------------------------------------------------------------
  -->

{% macro itemPlay (type, name, noun, icon=true) %}
<li>
	<span
	{%- if icon %}
		onclick="{{ type }}_{{name}}.play(); false;"
		style="cursor:progress";
		> {% lucide "volume", {size:12} %}
	{% endif -%}
	</span>
	<b>{{noun}}</b>
</li>
{% endmacro %}

{% set classList = "w3-blue w3-border-left w3-border-right w3-center w3-padding-small" %}

<style>
details>ul { list-style:none;margin-bottom:24px }

details>ul>li>span {
	padding: 0;
	margin: 0;
}
</style>

<script>
let stateCalendarioDisplay = false;
</script>

<div class="w3-display-container">
	<button class="w3-display-left w3-btn" 
			onclick="setDetailsDisplay(document.getElementById('calendarioParent'), stateCalendarioDisplay = ! stateCalendarioDisplay);"
			title="alternar">
			{% lucide "chevrons-up-down", { "stroke":"white"}  %}
	</button>
	<a class="w3-display-right w3-btn" href="#indice" title="Índice">{% lucide "table-of-contents", { "stroke":"white"}  %}</a>
	<h1 class="w3-center w3-blue">El calendario</h1>
</div>

<div id="calendarioParent">
  <div class="w3-row w3-wide">
	<article class = "w3-col m6 l3 ">
		<details open>
			<summary class="{{ classList }}">días</summary>
			<ul>
				{% for item in calendario.days %}
				{{ itemPlay('day', item.name, item.noun) }}
				{% endfor %}				
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details open>
			<summary class="{{ classList }}">meses</summary>
			<ul>
				{% for item in calendario.months %}
				{{ itemPlay('month', item.name, item.noun) }}
				{% endfor %}				
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details open>
			<summary class="{{ classList }}">temporadas</summary>
			<ul>
				{% for item in calendario.seasons %}
				{{ itemPlay('season', item.name, item.noun, false) }}
				{% endfor %}		
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details open>
			<summary class="{{ classList }}">TEST</summary>
			<ul>
			{% for item in calendario.days %}
				<li>{{item.name}} | {{ item.file }} | {{ item.noun }}</li>
			{% endfor %}
			</ul>
		</details>
	</article>
  </div>
</div>
<div>
	{% for item in calendario.days %}
	<audio id="day_{{ item.name }}"><source type="audio/mpeg" src="{{ calendario.prefix }}{{ item.file }}{{ calendario.suffix }}">no audio</audio>
	{% endfor %}
	{% for item in calendario.months %}
	<audio id="month_{{ item.name }}"><source type="audio/mpeg" src="{{ calendario.prefix }}{{ item.file }}{{ calendario.suffix }}">no audio</audio>
	{% endfor %}
</div>

<!-- The reference section is only shown in the development environment -->
{% if site.env %}
<div class="w3-center w3-light-gray w3-opacity-max">
	<i>La salida de voz procede del sitio web de Babbel</i>
</div>
{% else %}
<div class="reference w3-panel w3-sand w3-sans-serif w3-text-indigo">
	<b class="w3-padding" style="vertical-align:middle;">References</b>
	<a class="w3-btn" href="https://www.babbel.com/en/magazine/how-to-write-the-date-in-spanish", target="babbel">Babbel article</a>
	<button class="w3-btn" onclick="number_89.play();false;">Babbel audio</button>
</div>
{% endif %}

<script>

function spanishDateFull (day, month, year) { 
	const d = new Date(year, month-1, day);
	return d.toLocaleDateString("es-ES", {"dateStyle":"full"});
}

function spanishWeekday (day, month, year, width=0) {
	const weekdays = [
						[ "domingo",	"D", "do", "dom", "dom."], 
						[ "lunes",		"L", "lu", "lun", "lun."], 
						[ "martes",		"M", "ma", "mar", "mart."], 
						[ "miércoles",	"X", "mi", "mié", "miérc."], 
						[ "jueves",		"J", "ju", "jue", "juev."], 
						[ "viernes",	"V", "vi", "vie", "vier."], 
						[ "sábado",		"S", "sa", "sáb", "sáb."]
					];
	const d = new Date(year, month-1, day);
	const dow = d.getDay();
	return weekdays[dow%7][width%5];
}

</script>
