
<!--	----------------------------------------------------------------
  --	numeros.njk - Nunjucks include - Spanish numbers
  --	----------------------------------------------------------------
  -->

{% macro item2 (prefix, number, text='', icon=false) %}
<li><b>{{number}}</b>
	<span
	{%- if icon %}
		onclick="{{ prefix }}{{number}}.play(); false;"
		style="cursor:progress";
		> {% lucide "play", {size:12} %}
	{% else %}
		style="cursor:none";
		> {% lucide "minus", {size:12} %}
	{% endif -%}
	</span>
	{{text}}
</li>
{% endmacro %}

{% set classList = "w3-blue w3-border-left w3-border-right w3-center w3-padding-small" %}

<style>
details>ul { list-style:none;margin-bottom:24px }

details>ul>li>span {
	padding: 0;
	margin: 0;
}
</style>

<script>
let stateCalendarioDisplay = false;
</script>

<div class="w3-display-container">
	<button class="w3-display-left w3-btn" 
			onclick="setDetailsDisplay(document.getElementById('calendarioParent'), stateCalendarioDisplay = ! stateCalendarioDisplay);"
			title="alternar">
			{% lucide "chevrons-up-down", { "stroke":"white"}  %}
	</button>
	<a class="w3-display-right w3-btn" href="#indice" title="Índice">{% lucide "table-of-contents", { "stroke":"white"}  %}</a>
	<h1 class="w3-center w3-blue">El calendario</h1>
</div>

<div id="calendarioParent">
  <div class="w3-row w3-wide">
	<article class = "w3-col m6 l3 ">
		<details open>
			<summary class="{{ classList }}">días</summary>
			<ul>
				{{ item2('d',1, "lunes", false) }}
				{{ item2('d',2, "martes", false) }}
				{{ item2('d',3, "miércoles", false) }}
				{{ item2('d',4, "jueves", false) }}
				{{ item2('d',5, "viernes", false) }}
				{{ item2('d',6, "sábado", false) }}
				{{ item2('d',7, "domingo", false) }}
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details open>
			<summary class="{{ classList }}">meses</summary>
			<ul>
				{{ item2('m',1, "enero", false) }}
				{{ item2('m',2, "febrero", false) }}
				{{ item2('m',3, "marzo", false) }}
				{{ item2('m',4, "abril", false) }}
				{{ item2('m',5, "mayo", false) }}
				{{ item2('m',6, "junio", false) }}
				{{ item2('m',7, "julio", false) }}
				{{ item2('m',8, "agosto", false) }}
				{{ item2('m',9, "septiembre", false) }}
				{{ item2('m',10, "octubre", false) }}
				{{ item2('m',11, "noviembre", false) }}
				{{ item2('m',12, "diciembre", false) }}
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details open>
			<summary class="{{ classList }}">temporadas</summary>
			<ul>
				{{ item2('t',1, "primavera") }}
				{{ item2('t',2, "verano") }}
				{{ item2('t',3, "otoño") }}
				{{ item2('t',4, "invierno") }}
			</ul>
		</details>
	</article>
<!--
	<article class = "w3-col m6 l3">
		<details>
			<summary class="{{ classList }}">30 &hellip; 39</summary>
			<ul>
				{{ item2('d',30, "treinta") }}
				{{ item2('d',31, "treinta y uno", false) }}
				{{ item2('d',32, "treinta y dos", false) }}
				{{ item2('d',33, "treinta y tres", false) }}
				{{ item2('d',34, "treinta y cuatro") }}
				{{ item2('d',35, "treinta y cinco", false) }}
				{{ item2('d',36, "treinta y seis", false) }}
				{{ item2('d',37, "treinta y siete", false) }}
				{{ item2('d',38, "treinta y ocho", false) }}
				{{ item2('d',39, "treinta y nueve", false) }}
			</ul>
		</details>
	</article>
-->
  </div>
</div>
<div>
	{% for id, item in numeros.list %}
	<audio id="number_{{ item.number }}"><source type="audio/mpeg" src="{{ numeros.prefix }}{{ item.number }}{{ numeros.suffix }}">no audio</audio>
	{% endfor %}
</div>

<!-- The reference section is only shown in the development environment -->
{% if site.env %}
<!--
<div class="w3-center w3-light-gray w3-opacity-max">
	<i>La salida de voz procede del sitio web de Babbel</i>
</div>
-->
{% else %}
<div class="reference w3-panel w3-sand w3-sans-serif w3-text-indigo">
	<b class="w3-padding" style="vertical-align:middle;">References</b>
	<a class="w3-btn" href="https://www.babbel.com/en/magazine/counting-in-spanish", target="babbel">Babbel article</a>
	<button class="w3-btn" onclick="number_89.play();false;">Babbel audio</button>
</div>
{% endif %}
