

<!--	----------------------------------------------------------------
  --	colores.njk - Nunjucks include - Spanish colors
  --	----------------------------------------------------------------
  -->
  
<style>
.w3-turquoise	{color:#000!important;background-color:#40E0D0!important}
.w3-violet		{color:#000!important;background-color:#ee82ee!important}
.w3-silver		{color:#000!important;background-color:#c0c0c0!important}
.w3-gold		{color:#000!important;background-color:#ffd700!important}

</style>

{% set classList = "w3-dark-gray w3-border-left w3-border-right w3-center w3-padding-small" %}

<style>
details>ul { list-style:none;margin-bottom:24px }

details>ul>li>span {
	padding: 0;
	margin: 0;
}
</style>

<script>
function scrambleColors() {
	const elemColores = document.getElementById("colorParent");
	const listColores = elemColores.children;
	let i, s, t;
	listColores[0].parentNode.insertBefore(listColores[0], listColores[1]);
	for (i = 0; i < 20; i++) {
		s = getRandomInt(0, listColores.length);
		t = getRandomInt(0, listColores.length);
		if (s != t) {
			listColores[t].parentNode.insertBefore(listColores[t], listColores[s]);
		}
	}
}
</script>

<div class="w3-display-container">
	<button class="w3-display-left w3-btn" onclick="scrambleColors();">{% lucide "dices", { "stroke":"white"}  %}</button>
	<a class="w3-display-right w3-btn" href="#indice" title="Índice">{% lucide "table-of-contents", { "stroke":"white"}  %}</a>
	<h1 class="w3-center w3-deep-orange">Los colores</h1>
</div>
	
<div id="colorParent" class="w3-row-padding w3-stretch w3-wide">
	{% for item in colores.list %}
	<article id="color_{{ loop.index0}}" class = "w3-col s6 m4 l3">
		<div class="w3-card-4 w3-{{ item.name | lower }} w3-display-container w3-round-xlarge"
			 style="margin:12px 8px;height:96px;cursor:pointer"
			 onclick="color_{{item.name}}.play(); false;"
		>
			<div class="w3-large w3-display-middle">
			{{ item.noun }}
			{% if item.feminine %}<br>{{ item.feminine }} {% endif %}
			</div>
			<div class="w3-display-right" style="cursor:progress;margin-right:8px;">
				{% lucide "circle-play" %}
			</div>
		</div>
	</article>
	{% endfor %}
</div>

<div>
	{% for item in colores.list %}
	<audio id="color_{{ item.name }}"><source type="audio/mpeg" src="{{ colores.prefix }}{{ item.file }}{{ colores.suffix }}">no audio</audio>
	{% endfor %}
</div>

<!-- The reference section is only shown in the development environment -->
{% if site.env %}
<div class="w3-center w3-light-gray w3-opacity-max">
	<i>La salida de voz procede del sitio web de Babbel</i>
</div>
{% else %}
<div class="reference w3-panel w3-sand w3-sans-serif w3-text-indigo">
	<b class="w3-padding" style="vertical-align:middle;">References</b>
	<a class="w3-btn" href="https://www.babbel.com/en/magazine/colors-in-spanish", target="babbel">Babbel article</a>
	<audio id="babbelTest-3"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2018/09/thecolor.mp3">no audio</audio>
	<button class="w3-btn" onclick="babbelTest-3.play();false;">Babbel audio</button>
</div>
{% endif %}

