
<!--	---------------------------------------------------------------- 
  --	final.njk - Nunjucks include - Good bye
  --	---------------------------------------------------------------- 
  -->

<style>
#final-section {
	background-color: white;
	background-image: url( {{ image('gemini-sunset', 'png') }} );
	background-attachment: auto;
	background-position: top; 	
	background-size: 100%;
}
</style>

<div class="w3-display-container">
	<a class="w3-display-right w3-btn" href="#indice" title="Índice">{% lucide "table-of-contents", { "stroke":"white"}  %}</a>
	<h4 class="w3-center w3-brown" style="line-height:54px">Fin de la página</h4>
</div>

<div id="final-section" class="w3-display-containerx w3-wide w3-small" style="min-height:200px;margin-top:-16px; padding:16px 32px;font-weight:bold">
	<p class="w3-text-black w3-hover-amber">
	Este sitio web es privado y no se utiliza con fines comerciales. 
	No hay publicidad ni almacenamiento de datos, salvo el funcionamiento normal de un servidor web.
	Todas las imágenes utilizadas son de dominio público o han sido creadas por generadores de AI.
	</p>
	<p class="w3-text-white w3-hover-brown">
	Mis conocimientos lingüísticos no son suficientes para crear los textos de este sitio web en español. 
	Todos los textos de esta página han sido traducidos con el traductor automático
	<a style="text-decoration:none;color:skyblue" href="https://www.deepl.com/es/translator" target="deepl">deepl</a>. 
	¡Las máquinas cometen errores!
	</p>
</div>
