
<!--	----------------------------------------------------------------
  --	lecciones.njk - Nunjucks include - Overview over weekly lessons
  --	----------------------------------------------------------------
  -->
  
<details id="leccionesTotal" open>
	<summary class="w3-display-container" >
		<button class="w3-display-left w3-btn" 
				onclick="setDetailsDisplay(document.getElementById('leccionesParent'), false);"
				title="colapsar">
				{% lucide "chevron-up", { "stroke":"white"}  %}
		</button>
		<a class="w3-display-right w3-btn" href="#indice" title="Índice">{% lucide "table-of-contents", { "stroke":"white"}  %}</a>
		<h1 class="w3-center w3-blue-gray" 
			onclick="document.getElementByID('leccionesTotal').open=! document.getElementByID('leccionesTotal').open">
			Lecciones de las semanas
		</h1>
	</summary>

	<article id="leccionesParent" class="w3-section">
		{% for leccion in lecciones.notas %}
		<details id="{{ leccion.date }}" >
			<summary class="w3-padding-small w3-center w3-light-gray w3-hover-gray">
				<a href="lecciones/notas_{{ leccion.date }}.html?title={{ leccion.caption }}"
				   class="w3-right w3-hover-shadow"
				   style="margin-top:12px"
				   title="Pantalla completa.">
					{% lucide "external-link" %}
				</a>
				<h4>{{ leccion.caption }}</h4>
			</summary>
			<iframe class="w3-block w3-border-0"
					src = "lecciones/notas_{{ leccion.date }}.html"
					sandbox="" scrolling="auto"></iframe>
		</details>
		{% endfor %}
	</article>
	
</details>


