
<!--	----------------------------------------------------------------
  --	numeros.njk - Nunjucks include - Spanish numbers
  --	----------------------------------------------------------------
  -->

{% macro item (number, text='', icon=true) %}
<li>{{number}}
	<span
	{% if icon %}
		style="cursor:pointer";
		onclick="number_{{number}}.play(); false;">	{% lucide "play", {size:12} %}
	{% else %}
		> {% lucide "minus", {size:12} %}
	{% endif %}
	</span>
	{{text}}
</li>
{% endmacro %}

{% set classList = "w3-dark-gray w3-border-left w3-border-right w3-center w3-padding-small" %}

<style>
details>ul { list-style:none;margin-bottom:24px }

details>ul>li>span {
	padding: 0;
	margin: 0;
}
</style>


<h1 class="w3-center w3-indigo">Los números español</h1>

<div class="w3-row w3-wide">
	<article class = "w3-col m6 l3 ">
		<details open>
			<summary class="{{ classList }}">0 &hellip; 9</summary>
			<ul>
				{{ item(0, "cero") }}
				{{ item(1, "uno") }}
				{{ item(2, "dos") }}
				{{ item(3, "tres") }}
				{{ item(4, "cuatro") }}
				{{ item(5, "cinco") }}
				{{ item(6, "seis") }}
				{{ item(7, "siete") }}
				{{ item(8, "ocho") }}
				{{ item(9, "nueve") }}
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details>
			<summary class="{{ classList }}">10 &hellip; 19</summary>
			<ul>
				{{ item(10, "diez") }}
				{{ item(11, "once") }}
				{{ item(12, "doce") }}
				{{ item(13, "trece") }}
				{{ item(14, "catorce") }}
				{{ item(15, "quince") }}
				{{ item(16, "dieciséis") }}
				{{ item(17, "diecisiete") }}
				{{ item(18, "dieciocho") }}
				{{ item(19, "diecinueve") }}
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l3">
		<details>
			<summary class="{{ classList }}">20 &hellip; 29</summary>
			<ul>
				{{ item(20, "veinte") }}
				{{ item(21, "veintiuno") }}
				{{ item(22, "veintidós") }}
				{{ item(23, "veintitrés") }}
				{{ item(24, "veinticuatro", false) }}
				{{ item(25, "veinticinco", false) }}
				{{ item(26, "veintiséis") }}
				{{ item(27, "veintisiete", false) }}
				{{ item(28, "veintiocho", false) }}
				{{ item(29, "veintinueve", false) }}
			</ul>
		</details>
	</article>
</div>
<div class="w3-row w3-wide">
	<article class = "w3-col m6 l4">
		<details>
			<summary class="{{ classList }}">Incrementos de diez</summary>
			<ul>
				{{ item(10, "diez") }}
				{{ item(20, "veinte") }}
				{{ item(30, "treinta") }}
				{{ item(40, "cuarenta") }}
				{{ item(50, "cincuenta") }}
				{{ item(60, "sesenta") }}
				{{ item(70, "setenta") }}
				{{ item(80, "ochenta") }}
				{{ item(90, "noventa") }}
				{{ item(100, "cien") }}
			</ul>
		</details>
	</article>
	<article class = "w3-col m6 l4">
		<details>
			<summary class="{{ classList }}">Otros ejemplos</summary>
			<ul>
				{{ item(30, "treinta") }}
				{{ item(31, "treinta y uno", false) }}
				{{ item(32, "treinta y dos", false) }}
				{{ item(33, "treinta y tres", false) }}
				{{ item(34, "treinta y cuatro") }}
				{{ item(40, "cuarenta") }}
				{{ item(41, "cuarenta y uno", false) }}
				{{ item(42, "cuarenta y dos", false) }}
				{{ item(80, "ochenta") }}
				{{ item(89, "noventa y nueve") }}
			</ul>
		</details>
	</article>
</div>

<div>
	{% for id, item in numeros.list %}
	<audio id="number_{{ item.number }}"><source type="audio/mpeg" src="{{ numeros.prefix }}{{ item.number }}{{ numeros.suffix }}">no audio</audio>
	{% endfor %}
</div>

<!-- The reference section is only shown in the development environment -->

<div class="reference w3-panel w3-sand w3-sans-serif w3-text-indigo {{ 'w3-hide' if site.env }}">
	<b class="w3-padding" style="vertical-align:middle;">References</b>
	<a class="w3-btn" href="https://www.babbel.com/en/magazine/counting-in-spanish", target="babbel">Babbel article</a>
	<audio id="babbelTest"><source type="audio/mpeg" src="https://cms.babbel.news/wp-content/uploads/2022/08/SpaNum-0.mp3">no audio</audio>
	<button class="w3-btn" onclick="babbelTest.play();false;">Babbel audio</button>
</div>
