<div class="w3-row">

	<div class="w3-half w3-padding-large w3-hide-small">
		<img src="https://picsum.photos/id/397/300" class="w3-round w3-image w3-opacity-min" alt="Table" style="width:100%">
	</div>

	<div class="w3-half w3-padding-large">
		<h1 class="w3-center">Sobre Nostrosos</h1><br>
		<h5 class="w3-center">Nuevo de 2024</h5>
		<p class="w3-large">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
		sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, 
		sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
		Stet clita kasd gubergren, no sea takimata sanctus est. 
		</p>
		<p class="w3-large w3-text-grey w3-hide-medium">
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
		</p>
	</div>

</div>
