---
layout: main.njk
version: 2024-09-15
---

<style>
.markdown {
	margin-top:16px;
	color:var(--stone-800)!important
	background: red;
}
.markdown a {
	color:blue;
	--callout
}
.markdown a:hover {
	font-weight: bold;
}

.date {
	float:right;
	margin: 4px -8px;
	color: var(--stone-200);
	letter-spacing:2px;
	xbackground: #ccc;
}
.note {
	float:none;
	margin: -28px 0 0 -16px;
	padding: 8px 32px 8px;
	letter-spacing:4px;
	background: #ffeb3b;
	width:100%
}

/* **** CSS für markdown-it-obsidian-callouts **** */

.callout {
	background: var(--lime-100);
	margin: 16px 0;
}
.callout-title {
	background: var(--lime-500);
	color:var(--lime-50);;
	padding:8px;
	font-weight:900;
}
.callout-title-icon {
	margin: 4px 8px;
	float:left;
}
.callout-title-inner {
	margin: 4px 8px 4px 32px;
}
.callout-content {
	color:var(--stone-800);;
	padding:0 16px 4px;
}
</style>

<markdown>
	{% if date %}<span class="date">{{ date | Datum }}</span>{% endif %}
	{{ content | safe }}
</markdown>

<script>
	document.addEventListener("DOMContentLoaded", function(){
		const queryString = window.location.search;
		if (! queryString.includes("preview") ) {
			//~ document.getElementById("header").className = "";  // besser über tags <header> und <footer> und display:none lösen
		}
	});
</script>
