---
layout: base.njk
permalink: "{{ page.filePathStem }}-{{ pagination.pageNumber + 1 }}.html"
pagination:
  data: ferrocarril
  size: 1
ferrocarril:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
---

<style>
div {
	position: relative;
	height:100vh;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
img {
	position:absolute;
	width:100%;
	min-width:600px;
	z-index: -1;
}

#prev,#next {
	position:absolute;
	width:45%;
	bottom:0%;
}

#prev {text-align:left;left:0%;}
#next {text-align:right;right:0%;}

span {
}

</style>

<div onclick="location.href='{{ pagination.href.next }}';">
	{% if pagination.pageNumber > 0 %}
	<a id="prev" href="{{ pagination.href.previous }}"><span>{% lucide "chevron-left", { size:48, stroke: "#CCC" } %}</span></a>
	{% endif %}
	{% if pagination.pageNumber < 7 %}
	<a id="next" href="{{ pagination.href.next }}" %}><span>{% lucide "chevron-right", { size:48, stroke: "#CCC" }  %}</span></a>
	{% endif %}
	<img class="w3-image" src = "/static/{{ page.filePathStem }}-{{ pagination.pageNumber + 1 }}.png">
</div>
