---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
redirect:
   delay: 5
   url: /ponencia/ferrocarril-1.html
---
<div class="w3-container w3-display-container" style="height:100vh;background-color: #DEF; ">
	<a style="text-decoration:none"
	   href="{{ redirect.url | d('/') }}">
	
		<div class="w3-display-middle">
			<p class="w3-xxlarge w3-text-dark-gray" style="width:100%">
			Como no sé nada de cultura,<br>
			he preparado algo sobre el <br>
			ferrocarril de español.<br>
			</p>
		</div>
	</a>
</div>
