---
pagination:
  data: SpanischeEisenbahn
  size: 1
permalink: "{{ page.filePathStem }}-{{ pagination.pageNumber + 1 }}.html"
SpanischeEisenbahn:
 - 1
 - 2
 - 3
 - 4
 - 5
 - 6
 - 7
---
<img src = "{{ page.filePathStem }}-{{ pagination.pageNumber + 1 }}.png">
<button>prev</button>
<button>next</button>
