---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
redirect:
   delay: 1
   url: https://aprendo-espanol.pages.dev/ponencia/hogares-1.html
---
<div class="w3-light-blue w3-center w3-margin-64">
	<img src="/static/img/dragon.png" alt="here are dragons">
</div>
