---
layout: main.njk
permalink: "{{ page.filePathStem }}.html"
title: -hwn- Chronologie
description: Die Geschichte der -hwn- Software GmbH
date: 2021-03-31
panel: yes
---

<style>
table {
	font-size:16px;
}

.col1 {
	color:#B91C1C;
	font-weight:500;
	min-width:3em;
	vertical-align: baseline;
}
.col2 {
}
</style>

<div class="w3-panel">
<table>
	<tr><td class="col1">1996</td>
	<td class="col2">Gründung der -hwn- Software GmbH in Berlin</td></tr>
	<tr><td class="col1">1999</td>
	<td class="col2">Gründung der Zweigstelle Brandenburg</td></tr>
	<tr><td class="col1">2002</td>
	<td class="col2">Fokussierung auf Projektgeschäft</td></tr>
	<tr><td class="col1">2006</td>
	<td class="col2">Umzug der GmbH nach Oranienburg
	<br>Auflösung der Geschäftsstelle Berlin</td></tr>
	<tr><td class="col1">2012</td>
	<td class="col2">Fokussierung auf Großkunden</td></tr>
 	<tr><td class="col1">2016</td>
	<td class="col2">Einstellung der operativen Geschäftstätigkeit</td></tr>
	<tr><td class="col1">2020</td>
	<td class="col2">Liquidation der -hwn- Software GmbH</td></tr>
</table>
</div>


{#
<dl>
	<dt>1996</dt>
	<dd>Gründung der -hwn- Software GmbH in Berlin</dd>
	<dt>1999</dt>
	<dd>Gründung der Zweigstelle Brandenburg</dd>
	<dt>2002</dt>
	<dd>Fokussierung auf Projektgeschäft</dd>
	<dt>2006</dt>
	<dd>Umzug der GmbH nach Oranienburg
	<br>Auflösung der Geschäftsstelle Berlin</dd>
	<dt>2012</dt>
	<dd>Fokussierung auf Großkunden</dd>
 	<dt>2016</dt>
	<dd>Einstellung der operativen Geschäftstätigkeit</dd>
	<dt>2020</dt>
	<dd>Liquidation der -hwn- Software GmbH</dd>
</dl>
#}
