---
layout: main.njk
permalink: "{{ page.filePathStem }}.html"
title: Geschichte
description: Die Geschichte der -hwn- Software GmbH
date: 2021-03-31
---

<style>
main dl {
	@apply sm:grid sm:grid-cols-8 md:grid-cols-12 lg:grid-cols-16 xl:grid-cols-24;
}
main dt {
	color:red;
	@apply text-red-700 font-medium mr-4;
}
main dd {
	@apply text-slate-500 sm:col-span-7 md:col-span-11 lg:col-span-15 xl:col-span-23;
}
</style>

<dl>
	<dt>1996</dt>
	<dd>Gründung der -hwn- Software GmbH in Berlin</dd>
	<dt>1999</dt>
	<dd>Gründung der Zweigstelle Brandenburg</dd>
	<dt>2002</dt>
	<dd>Fokussierung auf Projektgeschäft</dd>
	<dt>2006</dt>
	<dd>Umzug der GmbH nach Oranienburg
	<br>Auflösung der Geschäftsstelle Berlin</dd>
	<dt>2012</dt>
	<dd>Fokussierung auf Großkunden</dd>
 	<dt>2016</dt>
	<dd>Einstellung der operativen Geschäftstätigkeit</dd>
	<dt>2020</dt>
	<dd>Liquidation der -hwn- Software GmbH</dd>
</dl>
