---
layout: main.njk
permalink: "{{ page.filePathStem }}.html"
title: -hwn- Impressum
description: Impressum der -hwn- Software GmbH i.L.
date: 2020-12-31
infoTag: HTML-Dokument
panel: yes
---

<div style="padding:8px 16px;">
	<div class="w3-text-stone impressum">
		<pre>
<b>-hwn- Software GmbH i.L.</b>
Bertha-von-Suttner-Str. 18
16515 Oranienburg
<i>Tel.</i> 03301 397731
<i>Fax</i>  03301 397730
<i>Mail</i> info@hwn.de

Sitz der Gesellschaft: Oranienburg
Handelsregister: HRB 7939 Amtsgericht Neuruppin
Liquidator: Michael Stumpp
USt.ID: DE 216062528
		</pre>
	</div>

</div>
