---
layout: base.njk
description: "Startseite"

sections:
  - "sobre"
  - "alfabeto"
  - "números"
  - "lecciones"
---

{% macro image (name, ext='svg') %}
"{{site.imagedir}}/{{name}}.{{ext}}"
{% endmacro %}

<style>
body {font-family:"Times New Roman", serif}
h1,h2,h3,h4,h5,h6 {font-family:serif; letter-spacing:5px}

a.w3-bar-item { text-transform:capitalize; }

summary { list-style:none;margin-bottom:4px }

@media (min-width:993px)						{ main>section { padding-top:64px} }
@media (max-width:992px) and (min-width:601px)	{ main>section { padding-top:32px} }
@media (max-width:600px)						{ main>section { padding-top:16px} }

</style>

<div class="w3-container">

<!-- Navigation (Sits on top) -->
	<nav class="w3-top w3-bar  {{ 'w3-white' if site.env else 'w3-sand'}} w3-padding w3-card w3-wide" style="margin-left:-16px;">
		<a href="#home" class="w3-bar-item w3-btn">{{ site.title }}</a>
		<div class="w3-right w3-hide-small">
			{% for section in sections %}
			<a href="#{{ section | Ascii }}" class="w3-bar-item w3-btn">{{ section }}</a>
			{% endfor %}
		</div>
	</nav>

<!-- Start Content -->
	<main id="home" class="w3-white w3-content">

<!-- Image in Display Container -->
		<section class="w3-display-container w3-auto" style="padding-top:64px;min-width:268px;max-width=992px">
			<div class="w3-display-container">
				<img src={{ image('spain-country-flag-icon') }} alt="A real big spanisch flag" style="width:100%;">
				<div class="w3-display-right w3-padding w3-opacity w3-hide-small">
					<h1 class="w3-text-sand">{{ site.title }}</h1>
					<h6 class="w3-text-sand w3-right" style="margin-top:-0.8em">versión {{ pkg.version }}</h6>
				</div>
			</div>
		</section>

		{% for section in sections %}
		<section id="{{ section | Ascii }}" class="w3-section">
			{% set filename = section | Ascii %}
			{% include filename + ".njk" %}
		</section>
		{% endfor %}


	<!-- End Content -->
	</main>

</div>
