---
layout: base.njk
permalink: "{{ page.filePathStem }}.html"
description: "Startseite"

apps:
 - caption: Mondly
   logo: mondly
   type: mobile-app
   home: https://www.mondly.com
   android: https://play.google.com/store/apps/details?id=com.atistudios.mondly.languages
   iphone: https://apps.apple.com/us/app/learn-33-languages-with-mondly/id987873536
   review: https://www.krioda.com/mondly-review/
 - caption: DuoLingo
   logo: duolingo
   type: mobile-app
   home: https://www.duolingo.com/
   android: https://play.google.com/store/apps/details?id=com.duolingo
   iphone: https://apps.apple.com/us/app/duolingo-language-lessons/id570060128
   review: https://www.krioda.com/duolingo-review/
 - caption: Memrise
   logo: memrise
   type: mobile-app
   home: https://www.memrise.com
   android: https://play.google.com/store/apps/details?id=com.memrise.android.memrisecompanion
   iphone: https://apps.apple.com/us/app/memrise-easy-language-learning/id635966718
   review: https://www.krioda.com/memrise-review/
 - caption: "Babbel"
   type: mobile-app
   logo: babbel
   home: https://www.babbel.com/
   android: https://play.google.com/store/apps/details?id=com.babbel.mobile.android.en
   iphone: https://apps.apple.com/us/app/babbel-language-learning/id829587759
   review: https://www.krioda.com/babbel-review/
   
etc:
 - caption: "Blogs en Internet"
   type: blog
   logo: blog
   urls:
      - https://www.clozemaster.com/blog/topics/learn-spanish/
---

{% macro image (name, type="type", ext="svg") %}
"{{site.imagedir}}/{{type}}.{{name}}.{{ext}}"
{% endmacro %}

{% macro button (url, name, type, tip='', download='') %}
<a class="w3-btn" href="{{ url }}" {% if download -%} download="{{ download }}"{%- endif -%}><img src="{{site.imagedir}}/{{type}}.{{name}}.svg" title={{ tip }} width="48px" height="48px"></a>
{% endmacro %}

<style>
body {font-family:"Times New Roman", serif}
h1,h2,h3,h4,h5,h6 {font-family:serif; letter-spacing:2px}

.x1-row { margin: 0px -16px; }
.x1-row, .x1-row > .x1-column { padding:8px; }
.x1-column { float:left; width: 25%; }
.x1-row:after { content:""; display:table; clear:both; }
.x1-content { padding:16px; overflow:scroll; border:1px solid #ccc}

@media screen and (min-width: 1201px)	{ .x1-column { width: 25%; } 	}
@media screen and (max-width: 1200px)	{ .x1-column { width: 33.33%; }	}
@media screen and (max-width: 900px)	{ .x1-column { width: 50%; }	}
@media screen and (max-width: 600px)	{ .x1-column { width: 100%; }	}
@media screen and (min-width: 601px)	{ .x1-content { height:320px; }	}

.x1-content > h2 { margin-top:-0px; }
.x1-content > hr { border:6px solid #ccc; margin-top:8px; }

.x1-info > a { height:72px;width:72px; }
.x1-info > a > image{ height:48px;width:48px; }

.icon-blue { filter: invert(0.4) sepia(1) saturate(5) hue-rotate(170deg); }
.icon-green { filter: invert(0.4) sepia(1) saturate(5) hue-rotate(105deg); }
.icon-orange { filter: invert(0.5) sepia(1) saturate(6) hue-rotate(0deg); }
.icon-yellow { filter: invert(0.8) sepia(1) saturate(5) hue-rotate(0deg); }
.icon-neutral { filter: invert(0.5) sepia(1) saturate(6) hue-rotate(0deg); }

img{ text-wrap: nowrap}
</style>

<!-- Navigation (Sits on top) -->
<header id="header">
	<nav class="w3-top w3-bar w3-pale-yellow w3-border-pale-red w3-topbar w3-bottombar w3-card w3-center w3-wide w3-opacity-min">
		<a href="/" class="w3-bar-item w3-btn w3-left">{{ site.title }}</a>
		<a href="#" class="w3-right w3-bar-item w3-btn">{{ page.fileSlug | capitalize }}</a>
	</nav>
	<div class="w3-padding-32"></div>
</header>

<main class="w3-container">
	<section class="x1-row">
<!--	Apps from list	-->
		{% for app in apps %}
		<article class="x1-column w3x-pale-red">
			<div class="x1-content w3-card w3x-pale-yellow">
				<img src={{ image(app.logo, 'logo') }} class="w3-right" style="max-height:48px">
				<h2>{{ app.caption }}</h2>
				<hr>
				<div class="x1-info">
					{{ button (app.home, "home", "app", "WWW⠀🇬🇧") }} <!--- braille blank = unicode 2800 -->
					{{ button (app.android, "android", "app", "Android⠀app") }} <!--- braille blank = unicode 2800 -->
					{{ button (app.iphone, "iphone", "app", "IPhone⠀app") }}
					{{ button (app.review, "review", "icon", "Review⠀🇬🇧") }}
				</div>
			</div>
		</article>
		{% endfor %}
		
<!--	Grammar Books		-->
		<article class="x1-column">
			<div class="x1-content w3-card">
				<img src={{ image('ebook', 'type') }} class="w3-right" style="max-height:48px">
				<h2>Gramática</h2>
				<hr>
				<div class="x1-info icon-blue">
					<div class="w3-wide">Libro de gramática (alemán)</div>
					{{ button ("https://www.spanisch-lehrbuch.de", "home", "app", "WWW⠀🇩🇪") }}
					{{ button ("https://www.spanisch-lehrbuch.de/pdf/de_es_lb_cd.pdf", "download-pdf", "icon", "Download⠀🇩🇪", "spanisch-grammatik") }}
					<img style="margin:0 16px;padding:4px" src={{ image('free', 'icon') }} width="48px" height="48px" title="ebook is free for private use.">
				</div>
				<div class="x1-info icon-green">
					<div class="w3-wide">Gramática breve (alemán)</div>
					{{ button ("https://www.sprachurlaub.de/service/lernhilfen/grammatik-kostenlos/spanisch-lernen.htm", "home", "app", "WWW⠀🇩🇪") }}
					{{ button ("https://www.sprachurlaub.de/fileadmin/user_upload/Grammatik_Sprachfuehrer/sprachurlaub.de_grammatik-spanisch.pdf", "download-pdf", "icon", "Download⠀🇩🇪", "kurzgrammatik-grammatik") }}
					<img style="margin:0 16px;padding:4px" src={{ image('free', 'icon') }} width="48px" height="48px" title="ebook is free for private use.">
				</div>
			</div>
		</article>
		
<!--	Dictionaries		-->
		<article class="x1-column">
			<div class="x1-content w3-card">
				<img src={{ image('dictionary', 'type') }} class="w3-right" style="max-height:48px">
				<h2>Diccionarios</h2>
				<hr>
				<div class="x1-info">
					<div class="w3-wide icon-blue">Word reference</div>
					{{ button ("https://www.wordreference.com/esde", "german", "circle", "Online⠀Wörterbuch⠀🇪🇸⠀⋄⠀🇩🇪") }}
					{{ button ("https://www.wordreference.com/esen", "english", "circle", "Online⠀dictionary⠀🇪🇸⠀⋄⠀🇬🇧") }}
				<div class="x1-info">
					<div class="w3-wide icon-green">LEO Dictionary</div>
					{{ button ("https://dict.leo.org/spanisch-deutsch/", "german", "circle", "Online⠀Wörterbuch⠀🇪🇸⠀⋄⠀🇩🇪") }}
					{{ button ("https://dict.leo.org/spanish-english/", "english", "circle", "Online⠀dictionary⠀🇪🇸⠀⋄⠀🇬🇧") }}
				</div>
			</div>
		</article>
		
<!--	Sources		-->
		<article class="x1-column">
			<div class="x1-content w3-card">
				<img src={{ image('resources', 'type') }} class="w3-right" style="max-height:48px">
				<h2>Recursos</h2>
				<hr>
				<div class="x1-info">
					<div class="w3-wide icon-blue">Textos</div>
					{{ button ("#", "text", "icon", "Coming⠀soon⠀...") }}
				<div class="x1-info">
					<div class="w3-wide icon-green">Podcasts</div>
					{{ button ("#", "podcast", "icon", "Coming⠀soon⠀...") }}
				</div>
				<div class="Blogs">
					<div class="w3-wide icon-orange">Blogs</div>
					{{ button ("#", "blog", "icon", "Coming⠀soon⠀...") }}
				</div>
			</div>
		</article>
	</section>

</main>


