:root {
	--headsize: 56px;
	--footsize: 40px;
}

* {
	box-sizing: border-box; 
}

html,body{font-family: Inter, ui-sans-serif, system-ui, sans-serif;}html{overflow-x:hidden}

header, main, footer {
}

header, footer {
	position:fixed;
	width:100%;
	z-index:1;
	background-color: var(--lime-100);
	letter-spacing:2px;
	color:var(--stone-500)
}
header {
	top:0;
	height: var(--headsize);
	& img {
		width:36px;
	}
}

.pagelogo {animation:w3-spin 2s 1 linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

footer {
	height: var(--footsize);
	bottom:0;
}
main {
	margin-left:1em;
	margin-top: var(--headsize);
	background-color: white;
}
h1,h2,h3,h4,h5,h6,p { 
	font-family: Inter, ui-sans-serif, system-ui, sans-serif;
	font-feature-settings: normal; /* 5 */
	font-variation-settings: normal; /* 6 */
}
h1{font-size:23px}h2{font-size:19px}h3{font-size:17px}h4{font-size:16px}h5{font-size:14px}h6{font-size:13px}
h1,h2,h3,h4,h5,h6 { 
	font-weight:600;
}

.impressum {
	font-family:Consolas,"courier new";
	font-size:16px;
	word-wrap:break-word;
}

.panel {
	background-color: var(--lime-500);
	color: var(--lime-50);
	font-weight:900;
	margin:16px;
	padding:16px 32px;
	position:fixed;
	min-width:450px;
	bottom:72px;
	bottom:calc(var(--footsize) + 32px);
	z-index: -1;
}

@media (min-width:561px) { .hide-large {display:none!important} }
@media (max-width:560px) { .hide-small {display:none!important} }
@media (max-width:280px) { .hide-tiny  {display:none!important} }
@media (max-width:230px) { .hide-micro {display:none!important} }

/* borrowed from TAILWIND */
